/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

// Default mixins and settings -----------------
@import '../template/mixins';
@import '../template/settings';
// ---------------------------------------------

// Include theme-specific fonts
@import url(./fonts/source-sans-pro/source-sans-pro.css);

// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #535555;
$headingColor: #4fa156;

$mainFontSize: 42px;
$mainFont: 'Roboto Slab', serif;
// $mainFont: 'Source Sans Pro', Helvetica, sans-serif;
$headingFont: 'Amatic SC', cursive;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingFontWeight: 600;
$linkColor: #375239;
$linkColorHover: lighten($linkColor, 15%);
$selectionBackgroundColor: lighten($linkColor, 25%);

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1em;

section {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-bottom: 3px dotted #4fa156;
    font-size: 40px;
  }

  font-size: 30px;
}

// Theme template ------------------------------
@import '../template/theme';
// ---------------------------------------------

@import './custom-rules';
